.card {
    &_round {
        border-radius: 50px;
    }

    &__feature {
        background: rgba($brand-secondary, 0.15);
        padding: 0 25px;
    }

    &__testimonial {
        background: rgba(156,105,226,1);
        overflow: hidden;
        padding-top: 25px;
        padding-bottom: 25px;       

        &__title, &__body {
            padding-left: 75px;
        }

        &__title {
            color: #fff; 
            padding:75px;          
        } 
        
        &__body {           
            display: flex;
            position: relative;
            margin-bottom: 75px;

            &::after {
                content: "";
                background: linear-gradient(rgba($brand-primary, 0.15), rgba($brand-primary, 0.5));
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        &__footer {
            padding: 0 75px 50px;
        }
    }

    &__slide {
        background: #ffffff;
        border-radius: 20px;
        max-width: 645px;
        width: 645px;
        height: 190px;
        padding: 60px;
        margin: 0 10px;
        box-shadow: 0px 12px 0px -1px darken($brand-primary, 5%);            
        display: flex;         
        
        
        &__image {
            flex: 2;
            img {
                width: 90px;
                height: 90px;
                margin-right: 10px;
            }
        }

        &__info {
            flex: 10;
        }
    }

    &__info {
       
        &__name {
            font-weight: 800;
            margin: 0;
        }
        &__tagline {
            color: $brand-primary;
            margin: 0 0 20px;
            font-weight: 500;
        }        
    }
}