.container {

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 

    &_start {
        align-items: flex-start;
    }

    &_justify-between {
        justify-content: space-between;
    }

    .col {
        &_center {
            align-self: center;
        }

        // out of 12 part grid layout
        
        &_half {
            width: 50%;
        }

        &_4 {
            width: 33%;
        }

        &_3 {
            width: 25%;
        }

        @media screen and (max-width: 768px) {

            &_mobile_12 {
                width: 100%;
            }

            &_mobile_half {
                width: 50%;
            }

            &_mobile_4 {
                width: 33%;
            }

            &_mobile_3 {
                width: 25%;
            }

            &_mobile_center {
                align-self: center;
            }
        }
    }

    &_wrap {
        flex-wrap: wrap;
    }

    &_stack {
        flex-direction: column;
    }

    &_center {
        align-items: center;
    }
}