.slide-selector {
    display: flex;
    align-items: center;

    &__item {        
        border-radius: 50%;
        width: 5px;
        margin-right: 5px;
        height: 5px; 
        background: #fff;   
        cursor: pointer;    

        &_active, &:hover {
            height: 10px;
            width: 10px;
            background: $brand-secondary;
        }
    }
}